html {
    height: 100%;
}

body {
    background: #cdccad; /* Old browsers */
    background: -moz-linear-gradient(top, #cdccad 0%, #cdccad 45%, #d49516 97%, #b6610b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cdccad 0%,#cdccad 45%,#d49516 97%,#b6610b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cdccad 0%,#cdccad 45%,#d49516 97%,#b6610b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdccad', endColorstr='#b6610b',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;  
    margin: 0;
    padding-right: 10%;
    padding-left: 10%;
}