.app-header {
    text-align: center;
}

.app-header h1 {
    flex-grow: 1;
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0px 1px 1px white;
    margin-top: 20px;
    margin-bottom: 0px;
}

.app-header h2 {
    font-size: 1.2rem;
    color: grey;
    text-align: right;
}

.app-header h3 {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0px 1px 1px white;
}